.MainLayout {
	background-color: #023059;

	&-Header {
		position: fixed;
		background-color: rgba(0, 0, 0, 0);
		z-index: 5;
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		&-Logo {
			background: url("https://scontent.fsjj1-1.fna.fbcdn.net/v/t1.15752-9/412161846_358911356723747_959449850103758073_n.png?_nc_cat=105&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=j1OEYxL6g0wAX_xkmQS&_nc_ht=scontent.fsjj1-1.fna&oh=03_AdTbgFYKZObkDW2wigi2RMJY3eL0909fYLl5HbhoHU2mNw&oe=65B12F17");
			width: 200px;
			height: 100px;
			background-size: contain;
			background-repeat: no-repeat;
		}

		ul {
			font-size: 0.9rem;
			background: rgba(0, 0, 0, 0);

			a {
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 0.15em;

				display: inline-block;
				position: relative;
			}

			li:hover {
			}

			a:after {
				background: none repeat scroll 0 0 transparent;
				bottom: 0;
				content: "";
				display: block;
				height: 2px;
				left: 50%;
				position: absolute;
				background: rgb(255, 239, 22);
				transition: width 0.3s ease 0s, left 0.3s ease 0s;
				width: 0;
			}

			a:hover:after {
				width: 100%;
				left: 0;
			}
		}
	}

	&-Content {
		position: relative;
		height: 100%;
	}
}
