.navbar {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;

	&-account-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.3rem 2rem;
		width: 100%;
		position: relative;

		.navbar-logo {
			font-size: 2.5rem;
			font-weight: bold;

			a {
				color: #fff;
			}

			a:hover {
				color: gray;
				cursor: pointer;
			}
		}

		.navbar-account-actions {
			display: flex;
			justify-content: space-between;
			gap: 1rem;
		}
	}

	.navbar-categories-header {
		hr {
			border: 1px solid rgb(43, 43, 43);
			margin: 0px;
		}

		.navbar-categories-menu {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 2rem;
			padding: 1rem 2rem;

			&-item {
				font-size: 1rem;

				a {
					color: rgb(255, 255, 255, 0.7);
				}

				a:hover {
					color: rgb(255, 255, 255);
				}
			}
		}
	}
}
