.event-card {
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	cursor: pointer;

	&-img {
		position: relative;
		width: 275px;
		height: 275px;
		border-radius: 2rem;
	}

	&-content {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
		width: 100%;

		.event-card-info {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			font-size: 1.1rem;
			gap: 0.5rem;

			.event-card-price {
				font-size: 1.5rem;
				font-weight: bold;
			}
		}

		.event-card-likes {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			gap: 0.5rem;
			font-size: 1.2rem;
		}
	}
}
