.how-it-works-card {
	height: 300px;
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	gap: 2rem;

	img {
		height: 300px;
		width: 200px;
	}

	&:not(:last-child) {
		border-right: 1px solid rgb(43, 43, 43);
	}

	.how-it-works-card-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.how-it-works-card-img {
		background-repeat: no-repeat;
		user-select: none;
	}

	.how-it-works-card-heading {
		font-size: 1.5rem;
		margin: 0;
		margin-bottom: 1rem;
	}
}
